.main-panel {
    display: flex;
    background-color: #B892FF;
    height: 100%;
  }
  
  .content {
    width: 80%;
    margin-left: 5px;
  }
  
  .aside {
    width: 20%;
    padding: 15px;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #EF7A85;
  }
  
  h3 {
    font-family: "Courier New", Courier, monospace;
    color: black;
  }